* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
@font-face {
  font-family: "BalooRegular";
  src: url("./fonts/Baloo Regular 400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ArabotoBlack";
  src: url("./fonts/Araboto Black 400.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITFDevanagariBold";
  src: url("./fonts/ITFDevanagari-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ChaparralProBold";
  src: url("./fonts/ChaparralPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GujaratiRegular";
  src:
    url("./fonts/NotoSansGujarati-Regular.woff2") format("woff2"),
    url("./fonts/NotoSansGujarati-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
html[lang="English"] body {
  font-family: "BalooRegular", system-ui, sans-serif !important;
}

html[lang="Hindi"] body {
  font-family: "ITFDevanagariBold", "Noto Sans Devanagari", serif !important;
}

html[lang="Gujarati"] body {
  font-family: "GujaratiRegular", "Noto Sans Gujarati", sans-serif !important;
} 
body {
  /* position: relative ; */
  font-family: "BalooRegular", sans-serif;
    position: fixed;
  width: 100vw;
  height: auto ;
  overflow: hidden;
}
body.intro .home-btn { opacity: 0; }

html::before{
  content:"";
  position: fixed;
  inset: 0;
  z-index: -1;

  background-image: url("./assets/images/bg3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html.intro::before{
  background-image: none;
  background-color: #8fd3ff;
}
nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 2vw;
}

/* =========================
   LANGUAGE CONTAINER
========================= */

.navbar-language {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  color: #FAA22C;

  width: 11vw;
  height: 8vh;
  gap: 1vh;
  padding: 0.5vw;

  border-radius: 15vb;
  z-index: 999;

  transition: border-radius 0.35s ease;
}

/* =========================
   LANGUAGE BUTTONS (BASE)
========================= */

.navbar-language > div {
  display: grid;
  place-items: center;

  width: 3vw;
  height: auto;

  font-size: 1.7vw;
  font-weight: bold;
  text-align: center;

  border: 0.8vb solid #FAA22C;
  background: transparent;
  color: #FAA22C;

  cursor: pointer;
  opacity: 0.75;

  border-radius: 15vb;

  transition:
    border-radius 0.35s ease,
    transform 0.2s ease,
    box-shadow 0.25s ease,
    background-color 0.25s ease,
    opacity 0.25s ease;
}

/* Hover */
.navbar-language > div:hover {
  opacity: 1;
  background-color: rgba(250, 162, 44, 0.18);
}

/* Active visual */
.navbar-language > div.lang-active {
  opacity: 1;
  transform: scale(1.08);
  box-shadow: 0 0.35vw 0.7vw rgba(250, 162, 44, 0.45);
  border-radius: 0.3vb;
}

/* =========================
   STATE: ENGLISH SELECTED
========================= */

.navbar-language.lang-left {
  border-top-left-radius: 5vb;
  border-bottom-left-radius: 5vb;
  border-top-right-radius: 15vb;
  border-bottom-right-radius: 15vb;
}

.navbar-language.lang-left .english-button {
  border-radius: 2vb;
}

.navbar-language.lang-left .hindi-button,
.navbar-language.lang-left .gujrati-button {
  border-radius: 15vb;
}

/* =========================
   STATE: GUJARATI SELECTED
========================= */

.navbar-language.lang-right {
  border-top-right-radius: 5vb;
  border-bottom-right-radius: 5vb;
  border-top-left-radius: 15vb;
  border-bottom-left-radius: 15vb;
}

.navbar-language.lang-right .gujrati-button {
  border-radius: 2vb;
}

.navbar-language.lang-right .english-button,
.navbar-language.lang-right .hindi-button {
  border-radius: 15vb;
}

/* =========================
   STATE: HINDI SELECTED
========================= */

.navbar-language.lang-middle {
  border-radius: 15vb;
}

.navbar-language.lang-middle .english-button,
.navbar-language.lang-middle .gujrati-button {
  border-radius: 15vb;
}

.navbar-language.lang-middle .hindi-button {
  border-radius: 2vb;
}


.vector1 {
  position: absolute;
  background-image: url("./assets/images/vec4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 30vh;
  top: 78vh;
  z-index: 10 !important;
}

.vector2 {
  position: absolute;
  background-image: url("./assets/images/vec3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 30vh;
  top: 82vh;
  z-index: 20 !important;
}



.title {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-content: center !important;
  margin-left: 8vw;
  padding: 1vh 0;
}

.title .rectangle {
  width: 47vw;
  height: auto;
  display: flex;
   filter: drop-shadow(0.5vw 0.5vw 0.15vw rgba(0, 0, 0, 0.55));
}

.title h2 {
  position: absolute;
  transform: translate(6%, 8%);
  font-size: 2.2vw !important;
  
}

.circle {
  position: absolute;
  left: 1.7vw;
  border-radius: 4vb;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
  width: 3.3vw;
  height: 3.3vw;
}

.circle img {
  width: 3.3vw;
  left: 3vw;
  top: 1.6vh;
  display: block;

}

.circle span {
  position: inherit;
  font-size: 2vw;
  color: white;
  font-weight: bolder!important;
  left: 1vw;
   text-shadow: 0.3vw 0.4vw 0.2vw rgba(0, 0, 0, 0.55);
}

.home-btn {
  background-color: white;
  height: 4vw;
  border-radius: 2vb;
  width: 4vw;
  z-index: 10;
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 9999;
}

.home-btn img {
  opacity: 0.6;
  width: 2vw;
  display: block;
  margin: auto;
  padding: 2vh 0;
  transition:
    opacity 0.5s ease
    width 0.5s ease,
    filter 1s ease;
  transform-origin: center;
}

.home-btn:hover img {
  opacity: 1;
  width: 3vw;
  filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.25));
  padding: 1vh 0;
  animation: doublePop 0.6s ease-out;
}
@keyframes doublePop {
  0%   { transform: scale(1); }
  25%  { transform: scale(1.25); }
  50%  { transform: scale(1); }
  75%  { transform: scale(1.22); }
  100% { transform: scale(1); }
}


.home-label{
  position: absolute;
  bottom: -1.7vw;
  left: 50%;
  transform: translateX(-50%) translateY(6px);
  color: #FAA22C;
  font-size: 1.2vw;
  font-weight: 600;
  padding: 0.3vw 0.6vw;
  border-radius: 0.4vw;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: opacity 0.5s ease, transform 0.3s ease;
  z-index: 9999;
}
.home-btn:hover .home-label{
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

main {
  width: 100vw;
  height: 90vh;
  display: block;
  margin: auto;
  position: relative;
  padding: 0 3vw;

}

.shadow{
  position: absolute!important;
  width: 35vw!important;
  height: 7vh!important;
  z-index: 300!important;
  bottom: -10vh!important;
  left: 5vw;
}

.pages{
  position: fixed;
  display: flex;
  flex-direction: column!important;
  gap: 4vh;
  right: 1vw;
  top: 50vh;
  transform: translateY(-50%);
  z-index: 999999;          
  pointer-events: auto;
}
.pages a{
  position: relative;          
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 2vw;
  font-weight: bolder;
  text-shadow: 0.3vw 0.2vw rgba(0, 0, 0, 0.55);
}
.pages a img{
  width: 4vw;
}
.pages a span{
  position: absolute;
  right: 1.5vw;
}
.pages .num1 span{top:1vh}
.pages .num2 span{top:1vh}
.pages .num3 span{top:1vh}
.board {
  position: absolute;
  width: 33vw;
  height: 30vw;
  z-index: 500 !important;
  bottom: 10vh;
  left: 7vw;
}
.pages a img,
.pages a span{
  transition: transform 2s cubic-bezier(.2,.9,.25,1.2),
              filter 2s ease;
  transform-origin: center;
  will-change: transform;
  animation: pagePop 1s cubic-bezier(.2,.9,.25,1.25);
}

@keyframes pagePop{
  0%   { transform: scale(1); }
  60%  { transform: scale(1.35); }
  100% { transform: scale(1.25); }
}
/* Hover pop */
.pages a:hover img{
  transform:  scale(1.25);
}
.pages a:hover span{
   transform:  scale(1.5);
}

.pages a:hover img{
  filter: drop-shadow(0 0.5vw 0.1vw rgba(0,0,0,0.25));
}

.pages a:hover span{
  text-shadow: 0.4vw 0.4vw 0.1vw rgba(0,0,0,0.6);
}

.page-tooltip{
  position: fixed;
  right:1vh;
  top: 50vh;
  transform: translateY(-50%) translateX(0.1vw);
  z-index: 1000000;
  pointer-events: none;
  z-index: 100;
  backdrop-filter: blur(0.5vw);
  -webkit-backdrop-filter: blur(1vw);
  color: #fff;
  font-size: 1.1vw;
  font-weight: 600;
  padding: 1vw  3vw 1vw 3vw;
  border-radius: 15vb;
  width: 20vw;
  height: 10vh;
  word-wrap: wrap;
  opacity: 0;
  visibility: hidden;
  transform-origin: right center;                 
  transform: translateY(-50%) scaleX(0);          
  transition:
    transform 2s cubic-bezier(.16,1,.3,1),
    opacity 2s ease,
    visibility 1s ease;

}

.page-tooltip.show{
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%) scaleX(1);  
}

.board img {
  width: 33vw;
  height: 28vw;
  z-index: 40 !important;
}

.image-board {
  position: absolute;
  top: 5vh;
  left: 50vw;
  transform: translate(-50%, 0%);
  width: 57vw;
  height: 67vh;
  z-index: 15;
  border-radius: 7vb;
  overflow: hidden;
  background-color: wheat;
    border: 1.5vb solid #FBB040;

}

.swiper {
  position: relative !important;
  width: 100%;
  height: 100%;
}

.swiper {
  position: absolute;
  width: 100%;
  height: 80vh;
  z-index: 15 !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide video {
  width: 57vw;
  height: 67vh;
}

.board-text-overlay {
  position: absolute;
  top: 15vh;
  left: 4vw;
  z-index: 9999;
  pointer-events: none;
  color: #60619F;
  text-align: center;
  width: 25vw;
  display: block;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
}

.board-text-overlay h2 {
  margin: 0;
  font-size: 2vw;
  line-height: 1.2;
}

.bottom-swiper-ui {
  position: fixed;
  left: 50%;
  bottom: 5vh;
  transform: translateX(-50%);
  z-index: 99999;
  width: 90vw;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.bottom-swiper-ui button {
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
  width: 30vw;
  height: 10vh;
  padding: 0 !important;
  display: grid;
  place-items: center;
}

.env-prev {
  display: grid;
  justify-self: start;
}

.env-next {
  display: grid;
  justify-self: end;
}


.bottom-swiper-ui button img {
  width: 4vw;
  height: auto;
  display: block;
  transition: transform 0.25s ease, filter 0.25s ease;
}

.bottom-swiper-ui button:hover img {
  transform: scale(1.12);
  filter: drop-shadow(0 10px 18px rgba(0, 0, 0, 0.22));
}

.env-pagination {
  justify-self: center;
  display: flex;
  gap: 0.5vw;
  width: 10vw !important;
  z-index: 200 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.env-pagination .swiper-pagination-bullet {
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 50%;
  background: #ece6e684;
  opacity: 1;
  margin: 0 !important;
  flex: 0 0 auto;
}

.env-pagination .swiper-pagination-bullet-active {
  background: #ffffff;
  transform: scale(1.15);
}


body.intro{
  background: #8fd3ff !important;
  background-image: none !important;
}

body.intro .page-content{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

body.intro .home-btn,
body.intro .navbar-language{
  opacity: 0;
  visibility: hidden;
}


body.intro .title{
  position: fixed !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.35);
  z-index: 999999;
  will-change: transform, filter;
  filter: blur(0);
}

body.intro.intro-fly .title{
  animation: flyToNav 1100ms cubic-bezier(.16, 1, .3, 1) forwards;
}

@keyframes flyToNav {
  0% {
    transform: translate(-50%, -50%) scale(1.35);
    filter: blur(0px);
  }
  45% {
    transform: translate(-50%, -50%) scale(1.42);   
    filter: blur(0.2px);
  }
  100% {
    transform: translate(-50%, -50%) translate(var(--dx), var(--dy)) scale(1);
    filter: blur(0px);
  }
}

body.intro.intro-done .title{
  position: relative !important;
  left: auto !important;
  top: auto !important;
  transform: none !important;
  z-index: 999;
}


body.intro.intro-done .home-btn,
body.intro.intro-done .navbar-language{
  opacity: 1;
  visibility: visible;
  transition: opacity 600ms ease;
}

body.intro.intro-done .page-content{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 800ms ease;
}



