* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
@font-face {
  font-family: "BalooRegular";
  src: url("./fonts/Baloo Regular 400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
 /* #AD93C5; */
 /* #FBB040 */
 /* #F69D9B; */
@font-face {
  font-family: "ArabotoBlack";
  src: url("./fonts/Araboto Black 400.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITFDevanagariBold";
  src: url("./fonts/ITFDevanagari-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ChaparralProBold";
  src: url("./fonts/ChaparralPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GujaratiRegular";
  src:
    url("./fonts/NotoSansGujarati-Regular.woff2") format("woff2"),
    url("./fonts/NotoSansGujarati-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
html[lang="English"] body {
  font-family: "BalooRegular", system-ui, sans-serif !important;
}

html[lang="Hindi"] body {
  font-family: "ITFDevanagariBold", "Noto Sans Devanagari", serif !important;
}

html[lang="Gujarati"] body {
  font-family: "GujaratiRegular", "Noto Sans Gujarati", sans-serif !important;
} 
body {
  /* position: relative ; */
  font-family: "BalooRegular", sans-serif;

    opacity: 0;
  transform: scale(0.985);
  animation: pageIn 0.8s ease forwards;
}
.fram-1 {
    background-color: #e0f7fa;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1vw 2vw;
}


.navbar-language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: #FAA22C;
  width: 11vw;
  height: 3.7vw!important;
  object-fit: contain;
  padding: 0vh 0.4vw;
  border-radius: 50vb;
  z-index: 999;
  transition: border-radius 0.35s ease;
}


.navbar-language > div {
  width: 3vw;
  height: 3vw;
  font-size: 1.7vw;
  font-weight: bold;
  text-align: center;
  border: 0.8vb solid #FAA22C;
  background: transparent;
  color: #FAA22C;
  cursor: pointer;
  opacity: 0.75;
  border-radius: 15vb;
  transition:
    border-radius 0.35s ease,
    transform 0.2s ease,
    box-shadow 0.25s ease,
    background-color 0.25s ease,
    opacity 0.25s ease;
}

.navbar-language > div:hover {
  opacity: 1;
  background-color: rgba(250, 162, 44, 0.18);
}

.navbar-language > div.lang-active {
  opacity: 1;
  transform: scale(1.08);
  box-shadow: 0 0.35vw 0.7vw rgba(250, 162, 44, 0.45);
  border-radius: 0.3vb;
}

.navbar-language.lang-left {
  border-top-left-radius: 15vb;
  border-bottom-left-radius: 15vb;
  border-top-right-radius: 50vb;
  border-bottom-right-radius: 50vb;
}

.navbar-language.lang-left .english-button {
  border-radius:15vb;
}

.navbar-language.lang-left .hindi-button,
.navbar-language.lang-left .gujrati-button {
  border-radius:50vb;
}


.navbar-language.lang-right {
  border-top-right-radius: 15vb;
  border-bottom-right-radius: 15vb;
  border-top-left-radius: 50vb;
  border-bottom-left-radius: 50vb;
}

.navbar-language.lang-right .gujrati-button {
  border-radius: 15vb;
}

.navbar-language.lang-right .english-button,
.navbar-language.lang-right .hindi-button {
  border-radius: 50vb;
}


.navbar-language.lang-middle {
  border-radius: 50vb;
}

.navbar-language.lang-middle .english-button,
.navbar-language.lang-middle .gujrati-button {
  border-radius: 50vb;
}

.navbar-language.lang-middle .hindi-button {
  border-radius: 15vb;
}

.name-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vh;
    font-weight: bold;
    color: #2c5f2d;
}

.save-environment {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    font-weight: bold;
    color: #006E90;
    text-align: center;
    z-index: 999;

}

.both-tree-section {
    display: flex;
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.left-tree img {
    position: relative;
    left: 0vh;
    width: 28vw;
    height: auto;
    overflow: hidden;
    z-index: 10;
}


.right-tree img {
    position: relative;
    width: 25vw;
    height: auto;
    left: 47vw;
    overflow: hidden;
    z-index: 10;
}

/* bord image  */

.bord {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 35vw;

    /* top: 18vh; */
}

.bord img {
    /* width: 35vw; */
    width: 100%;
    height: auto;
    z-index: 10;
}

.start-btn {
    position: absolute;
    z-index: 10;
     top: 80%; 
    left: 50%;
    transform: translate(-50%, 20%);
    width: 10vw;
    height: 10vw;
}
.play-button{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    position: relative;
    animation: pulseBtn 2s ease-in-out infinite;
}
.play-button img{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.ring{
     position: absolute;
  border-radius: 50%;
  opacity: 0;
  
}
.ring1{ width: 5vw;
    height: 5vw;
    border: 1vb solid rgba(255, 255, 255, 0.673);
    animation: show1 3s linear infinite;
}
.ring2 { 
    width: 6.5vw;
    height: 6.5vw;
    border: 1vb solid rgba(134, 127, 127, 0.353);
    animation: show2 3s linear infinite ;}
.ring3 { 
    width: 7.4vw;
    height: 7.4vw;
    border: 1vb solid rgba(134, 127, 127, 0.182);
    animation: show3 3s linear infinite ;
}
@keyframes pulseBtn {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes show1 {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes show2 {
  0%   { opacity: 0; }
  30%  { opacity: 0; }
  40%  { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes show3 {
  0%   { opacity: 0; }
  60%  { opacity: 0; }
  70%  { opacity: 1; }
  100% { opacity: 1; }
}

.start-btn img {
    position: relative;
    /* bottom: 22vh; */
    /* left: 94vh; */
    width: 9vw;
    cursor: pointer;
}

.start-text {
    position: absolute;
    bottom: 35vh;
    left: 99.5vh;
    font-size: 3.7vh;
    font-weight: bold;
    color: #34A1DA;
    z-index: 15;
}

/* both grass  */

.both-grass {
    display: flex;
    z-index: 10;
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

}

.left-grass img {
    transform: rotate(357deg);
    position: relative;
    width: 10vw;
    height: auto;
    left: -1vh;
    top: 54vh;
}

.right-grass img {
    position: relative;
    width: 10vw;
    height: auto;
    left: 81vw;
    top: 72vh;
    transform: rotate(7deg);
}

/* groung grass */

.ground-grass {
    position: absolute;
    bottom: 0vh;
    width: 100vw;
    height: auto;
    z-index: 5;
    overflow: hidden;
}

.bottom-grass img {
    position: relative;
    top: 6vh;
}

.top-grass img {
    position: relative;
    top: 27vh;
    opacity: 0.7;
}

.poond {
    position: absolute;
    z-index: 10;
}

.water img {
    position: relative;
    /* width: 35vw; */
    width: 100%;
    ;
    height: auto;
    /* left: 35vw; */
    /* top: 19vh; */
}

.fish-pond {
    position: absolute;
    z-index: 10;
}

.fish img {
    position: relative;
    width: 7vw;
    height: auto;
    left: 40vw;
    top: 13vh;
}

/* shadow */

.shadow-both {
    position: absolute;
    z-index: 30;
    display: flex;
}

.left-shadow img {
    position: relative;
    width: 15vw;
    top: 22vh;
    height: auto;
    left: 32vh;
}

.right-shadow img {
    position: relative;
    width: 15vw;
    height: auto;
    top: 25vh;
    left: 120vh;
}

/* persons */

.person {
    position: absolute;
    z-index: 40;
    top: 50vh;
    display: flex;
}

.girl img {
    position: relative;
    width: 35vh;
    left: 25vh;
    bottom: 5vh;
    height: auto;
}

.boy img {
    position: relative;
    width: 18vw;
    left: 118vh;
    bottom: 5vh;
}
/* Page opens from center */
body.open-from-center {
  transform-origin: 50% 50%;
  animation: openFromCenter 0.5s cubic-bezier(0.22, 0.8, 0.25, 1) forwards;
}

@keyframes openFromCenter {
  from {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
    box-shadow: inset 0 0 80px rgba(0,0,0,0.15);

  }
  to {
    opacity: 0;
    transform: scale(1.35);
    filter: blur(0.5px);
    transform: scale(1.5);
  }
}
/* Smooth page reveal on load */


/* Optional: make the bg image also fade nicely */
body > img {
  opacity: 0;
  animation: bgIn 2s ease forwards;
}

@keyframes pageIn {
  from {
    opacity: 0;
    transform: scale(0.985);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

@keyframes bgIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}


